/* universal design  */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}
body{
    background-color: rgb(245, 248, 255);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Shared item */
button{
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  color :white;
  background-color: #4E47FF;
  border: none;
  border-radius: 10px;
}

/* header style */

header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
}
nav{
    display: flex;
    justify-content: space-between;
    width:1140px;
    margin: auto;
    padding: 50px 0px;
    margin-bottom: 158px;
}
nav .logo{
    font-size: 34px;
    color:#4E47FF;
    font-weight: 900px;
}

/* banner design */
.banner{
    text-align: center;
}
.banner-content{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* main */
/* slide */
.slide{
    display:flex;
    margin:116px auto;
    border-radius: 30px;
    width: 1140px;
    justify-content: space-between;
}
.slide .title{
        font-size: 42px;
        font-weight: bold;
        color:#252432;

}
.slide .slide-des{
      font-size: 24px;
      font-weight: 200;
      color:#8C8E98;
      margin: 23px auto;
}
.slide img{
    border-radius: 30px;
    
}

/* user section */
.user-section{
    width:1140px;
    height: 306px;
    text-align: center;
    background-color:rgb(218, 227, 255);
    border-radius: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    color:#252432;

}
.users-action{
    display: flex;
    gap:158px;
    margin: 30px;
}
.users h2{
     font-size: 80px;
    font-weight: bold;
    color:#4E47FF;
}
.users p{
    font-size: 20px;
    color:#8C8E98;

}

/* review design */
.review{
    width:1140px;
    margin: 137px auto;
    text-align: center;
}
.review h3{
    font-size: 42px;

}
.box-cotainer{
    text-align: left;
    margin-top: 50px;
    display: flex;;
    padding: 12px;
    justify-content: space-between;
    line-height: 24px;
}
.box{
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    width: 350px;
}
.box .image , .box .review-des{
    padding: 12px;
}

.profile{
    display: flex;
    padding: 12px;
    gap: 15px;
}
.profile .name{
      font-weight: bold;
      color:#8C8E98;
}
.profile .date{
    font-weight: 200;
    color: #8C8E98;
}